.header{
    color: white;
    background-color: green;
    display: grid;
}
.logo{
    display: flex;
    justify-content:flex-start;
    padding: 0px 0px;
    margin: 0px;
    gap: 300px;
}
nav{
    display: flex;
    justify-content: center;
    background-color: orange;
    width: 100%;
    height: 30%;
    
   }
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.menu{
    padding: 50px;
}
.shop{
    font-size: x-large;
}
.ghee{
    display: flex;
    gap: 20px;
}
.forest{
    display: flex;
    gap: 20px;  
}
.button{
    display: flex; 
    justify-content: center;
}
.favorite{
    width: 100vw;
    height: 850px;
    background-color: green;
    color: white;
    font-size:xx-large;
    padding-left: 40px;
    gap: 100px;
}
.image{
    display: flex;
    gap: 20px;
}
.honey{
   display: flex;
}
.sweet{
    display: flex;
    flex: 1;
    height: 20px;
    gap: 20px;
    align-items: start;
    flex-direction: column;
    padding: 10px;
}
.bottle{
    flex: 1;
    padding: 10px;
}
.omg{
    height: 350px;
    width: 50vw;
    border-radius: 20px;
}
.bot{
    height: 710px;
    width: 48vw;
    border-radius: 20px;
}
.section-product .product{
display: flex;
padding: 0 50px;
}
.product-img{
width:620px;
height: 482px;
background-color: #0000004D;
border-radius: 10px;
}
.section-product .product .product-img img{
width:482px ;
height: 482px;
}
.section-product .product-cart{    
width: 850px;
/* background-color: #25693F; */
padding: 0 50px;
}
.section-product .product-cart h1{
font-size: 45px;
}
.section-product .product-cart .para1{
margin-left: 0px;
font-size: 25px;
}
.section-product .product-cart .para2{
margin-left: 0px;
font-size: 21px;
color: rgb(129, 129, 129);

}
.section-product .product-cart a{
border-radius: 50px;
padding: 10px 20px;
text-decoration: none;
border: 2px solid black;
font-size: 20px;
font-weight: bold;
color: black;
}
.section-product .product-cart a span{
padding: 0 25px;
}
.section-product .product-cart button {
display: block;
margin-top: 50px;
padding: 18px 328px;
background-color: #25693F;
color: #fff;
border-radius: 50px;
font-size: 19px;
}
.youtube{
display: flex;
gap: 50px;
padding: 20px;
margin: 20px;
}
.about{
background-color: darkorange;
width: 80vw;
border-radius: 20px;
display: flex;
align-items: center;
flex-direction: column;
height: 520px;
font-size: 30px;

}
.star{
color: gold;
}
.FAQ{
background-color: green;
width: 99vw;
display: flex;
gap: 40px;
padding: 20px;
margin: 20px;
color: white;

}
.option{
background-color: orange;
height: 100px;
width: 40vw;
border-radius: 10px;
position: relative;
left: 250px;
position: relative;
top: 10px;
font-size: 20px;

}
.customer{
background-color:orange;
height: 800px;
gap:80px;
padding: 20px;
margin: 10px;
display: flex;

}
.care{
font-size: 20px;
padding:50px;
}
